.entete{
	background-image:url("../img/iut.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center top;
	text-align:center;
	
}

.entete .logo{
	padding:0px;
	padding-top:20px;
	padding-bottom:40px;
}

.entete .titre{

	
	
}
.entete .titre h1{
	line-height:70px;
	background-color:rgba(0,0,0,0.6);
	border-radius:10px;
	color:white;
}

.entete .logo img{
	max-width:80%;
        max-height:80%;
}

#navbar{
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	background-color:#A4E338;

}

#navbar .btn{
	width:100%;
	text-align:center;
	border-color:white;
	border-width:2px;
	border-style:solid;
	font-weight:bold;
}

#ligne_entete{

	margin-top:10px;
	border:#A4E338 solid 0px;
	border-radius:10px 10px 0px 0px;
}

#TC_BUTTON{
	background-color:#A4E338;
}
#GEA_BUTTON{
	background-color:#FBBD0B;
}
#MMI_BUTTON{
	background-color:#E41370;
}
#INFO_BUTTON{
	background-color:#00AC9A;
}
#SANTE_BUTTON{
	background-color:#AE45AE;
}
#PROF_BUTTON{
	background-color:#EA6B13;
}

hr{
	margin-top:20px;
	margin-bottom:10px;
}

#entete_recherche div{
	padding-right:0px;
}

#entete_recherche input{
	padding:0px;
	padding-left:5px;
}

#entete_inscription button{
	background-color:rgba(0,0,0,0.3);
}

.input-xs {
    height: 22px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#entete_connexion{
    border:1px solid white;
    border-top: none;
    border-right: none;
    margin-bottom: 20px;
    padding-top:20px;
    padding-bottom: 20px;
    display:none;

}

#entete_profil{
    line-height: 34px;
    background-color:rgba(0,0,0,0.3);
    border:1px solid white;
    border-right: none;
    color:white;
    height:34px;
    
}
.page{
}

.page_main{
    border-left:2px solid black;
}

.page_secondaire{
    border-right:2px solid black; 
}


#footer {
        text-align:center;
        padding-top:20px;
        padding-bottom:20px;
        background-color:#A4E338;
        margin-bottom:10px;
        border:#A4E338 solid 0px;
        border-radius:0px 0px 10px 10px;
        font-weight:bold;
}
 
#footer a{
        color:black;
}

#mainpage{


}
#mainblock{
    border:10px solid #A4E338;
    
}

p {
font-weight:bold;
}

#req{
color:red;
}

.index_inscription{
   background-color:black;
   width:100%;
   height:100%;
    text-align:center;
     
}


.colone_button{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}


.colone_button .btn {

	background-color:rgba(0,0,0,0.5);
	color:white;

}
.profile_icone{
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center; 
    height:20px;
    margin-top:7px;
    text-align:center;
    line-height:20px;
    font-size:18px;
    
    
}

.profile_icone:hover{
    border-left: 1px solid white;
    border-right: 1px solid white;
    cursor: pointer;
}



.text_icone{

    text-shadow:0 0 3px red;
    color:white;
    font-weight: bold;
}

#icone_msg{
    background-image:url("../img/icone_msg.png");  

}

#icone_forum{
    background-image:url("../img/icone_forum.png");  

}

#icone_disconnect{
    background-image:url("../img/icone_disconnect.png");  

}

#icone_notif{
    background-image:url("../img/icone_notif.png");  
}

#index_message{
    
    margin:20px;
}

#photo
{
	border-radius:25px;
	border: 2px solid black;
	padding : 50px;
}

#photoconv
{
max-height:133px;
max-width:100%;
}

#conv_view
{
	border: 1px solid black;
	padding-top:10px;
	padding-bottom:10px;
	
}

#message
{
padding-top:25px;
padding-bottom:10px;
}

#msgarea
{
resize:none;
padding-right:2px;
padding-left:2px;
}

#send_btn
{
padding:20px;
}